$font-size-header: 2rem;
$font-size-large: 1.5rem;
$font-size-normal: 1rem;
$font-size-small: 0.75rem;
$font-size-tiny: 0.5em;

$spacing-tiny: 0.25em;
$spacing-small: 0.5em;
$spacing-medium: 1em;
$spacing-large: 2em;

$border-radius: 0.5em;

// Component sizes
$footer-height: 3.5rem;